@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --yellow: #ffbe51;
  --white: #ffffff;
  --gray: #757575;
  --black: #000000;
}

body {
  font-size: 16px;
  font-family: "Nunito", sans-serif;
}

header {
  width: 100%;
  max-height: 113px;
  background-color: var(--yellow);
}

header div.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header div.container figure {
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header div.container figure img {
  width: 100%;
}
header div.container nav {
  width: 60%;
  display: none;
}
header div.container nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header div.container nav ul li {
  list-style: none;
}
header div.container nav ul li a {
  text-decoration: none;
  color: var(--white);
  font-weight: 600;
}
header div.container nav ul li a:hover {
  color: var(--gray);
}
header div.container i {
  color: var(--white);
}
header div.container i:hover {
  color: var(--gray);
}

main {
  width: 100%;
}

main section.item-1 {
  width: 100%;
  margin: 0 auto;
}
main section.item-1 div.container-item-1 {
  width: 80%;
  margin: 0 auto;
  padding: 15px 0px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr;
}
main section.item-1 div.container-item-1 div.item-1-1 {
}
main section.item-1 div.container-item-1 div.item-1-1 h2 {
  color: var(--gray);
  font-size: 1.2rem;
  text-align: justify;
}
main section.item-1 div.container-item-1 div.item-1-2 {
}

main section.item-1 div.container-item-1 div.item-1-2 figure {
  width: 100%;
}
main section.item-1 div.container-item-1 div.item-1-2 figure img {
  width: 100%;
}

@media (min-width: 768px) {
  header div.container nav {
    display: initial;
  }
  header div.container i {
    display: none;
  }
  main section.item-1 div.container-item-1 {
    padding: 30px 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  main section.item-1 div.container-item-1 div.item-1-1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
